* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    padding: 15px;
    gap:10px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(204, 233, 251);
    border-radius: 15px 15px 0px 0px;
}

.tarif {
    color: black;
    font-weight: bold;
}

header div a {
    padding: 3px;
    color: rgb(57, 57, 57);
    text-decoration: none;
}

header div a:hover {
    text-decoration: underline;
    color: black;
    font-weight: bold;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.offers {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

h1+p {
    margin-top: 25px;
    font-weight: lighter;
    color: rgba(161, 161, 161, 0.947);
    font-size: 15px;
}

.plan {
    font-size: 16px;
    list-style-type: none;
    text-align: center;
    width: 280px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.434);
}

ul {
    padding: 5px;
    text-align: center;
    list-style: none;
}

ul li h2 {
    font-size: 24px;
    margin: 15px;
}

.gratuit {
    padding: 8px;
    margin: 0;
    background-color: rgb(225, 225, 228);
    border-radius: 5px 5px 0px 0px;
}

button {
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgb(65, 160, 255);
    background-color: transparent;
    border: 1px solid rgb(0, 128, 255);
    width: 240px;
    border-radius: 5px;
}
button:hover{
    padding: 12px;
    border: 0px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(1, 57, 112);
    box-shadow: 0 2px 2px black;

}

.commencer {
    color: white;
    width: 100px;
    border: none;
    background-color: rgb(0, 98, 255);
}
.commencer:hover{
    padding: 12px;
    border: 0px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(1, 57, 112);
    box-shadow: 0 2px 2px black;
}

footer {
    margin-top: 7%;
    padding: 20px;
    text-align: center;
    background-color: rgb(83, 190, 248);
}

span {
    color: gray;
}